<tr>
  <td><%= list.title %></td>
  <td>
    <%= link_to list do %>
      <i class="icon-eye-open"></i>
    <% end %>
  </td>
  <% if can?(:manage, list) %>
    <td>
      <%= link_to edit_list_path(list) do %>
        <i class="icon-edit"></i>
      <% end %>
    </td>
    <td>
      <%= link_to list, :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
        <i class="icon-remove"></i>
      <% end %>
    </td>
  <% else %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  <% end %>
</tr>
