<div class="row-fluid">
  <div class="span8">
    <h1>Lists</h1>
  </div>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to new_list_path do %>
        <button class="btn">
          <i class="icon-plus"></i>
          <span class="icon">New List</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<%= render 'table' %>
