<div class="row-fluid">
  <div class="span8">
    <h1>Listing lists</h1>
  </div>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to new_list_path do %>
        <button class="btn">
          <i class="icon-plus"></i>
          <span class="icon">New List</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <% @lists.each do |list| %>
    <%= render 'row', :list => list %>
  <% end %>
</table>
