<h1>New list</h1>

<%= render 'form' %>

<div class="row-fluid">
  <div class="span12">
      <%= link_to lists_path do %>
        <i class="icon-arrow-left"></i>
        <span class="icon">Back</span>
      <% end %>
  </div>
</div>
