<h3>Following</h3>

<% if @follows.empty? %>

This user still don't follows anyone

<% else %>

<% @follows.each do |follow| %>
  <i class="icon-caret-right"></i>
  <%= link_to follow.followed, follow.followed.first_name %>
<% end %>

<% end %>
