<%# @followed_tips.each do |tip| %>
  <%#= render 'tips/table', tips: @followed_tips %>
<%# end %>
<% for activity in @activities %>
  <div>
    <%= activity.text %>
    <%= time_ago_in_words(activity.created_at) %> ago
  </div>
<% end %>
