<%# @followed_tips.each do |tip| %>
  <%#= render 'tips/table', tips: @followed_tips %>
<%# end %>
<% for activity in @activities %>
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <%= render_activity(activity, :layout => :activity) %>
        <%#= activity.text.html_safe %>
        <%#= time_ago_in_words(activity.created_at) %> ago
      </div>
    </div>
  </div>
<% end %>
