<h3>Community</h3>



<% @users.each do |user| %>
  <div class="tip-container">
    <div class="tip-title">
      <i class='icon-caret-down'></i><%= user.first_name%>
    </div>
</div>
<% end %>

</div>
