/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 */

body {
  position: relative;
  padding-top: 40px;
  height: 100%;

  #sidebar {
	  background: white;
	  padding: 20px 0px 20px 0px;
	  width: 240px;
	  bottom:0px;
	  display:block;
	  min-height: 100%;

	  height: 100%;
  }
}

.well {
	margin-top: 20px;
}

#main-content {


  background: white;
  padding: 0px 5px 0px 0px;
	// div {
	// 	margin: 0 20px;
	// }
  width: 660px;

	.field {
		padding: 10px 0;

		label {
			font-weight: bold;
			display: inline;
			padding: 0 20px;
		}

		input[type="text"] {
			width: 80%;
			display: inline;
		}
	}
}

.btn-group {
	img.icon {
		height: 1em;
	}
  img.tinyicon {
    height: 0.5em;
  }
	span.icon {
		font-family: Arial, sans-serif;
		font-weight: bold;
	}
}

.tipster-align-right {
	text-align: right;
}

.footer {
  background-color: black;
}

.alert .close {
	right: 0px;
}

.field {
	textarea {
		width: 100%;
		height: 5em;
	}


}

.tip-container {
.tip-title {
margin-top: 10px;
  color: #DD390D;
  background-color: #FDFDFD;
  height: 20px;
    padding: 0 3px 2px;
  font-family: 'Helvetica Neue', Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;

  font-weight: bold;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;

}
}

.down {
margin-top: 10px;
}

.fix-margins {
margin: 10px;
}
