/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  position: relative;
  padding-top: 40px
}

.well {
	margin-top: 20px;
}

#content {
	padding: 20px 0;

	// div {
	// 	margin: 0 20px;
	// }

	.field {
		padding: 10px 0;

		label {
			font-weight: bold;
			display: inline;
			padding: 0 20px;
		}

		input[type="text"] {
			width: 80%;
			display: inline;
		}
	}
}

.btn-group {
	img.icon {
		height: 1em;
	}
	span.icon {
		font-family: Arial, sans-serif;
		font-weight: bold;
	}
}