html, body, .container, .content {
    height: 100%;
}

.container, .content {
    position: relative;
}

.proper-content {
    padding-top: 40px; /* >= navbar height */
    height: 100%;
}

.wrapper {
    background-color: white;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 15px auto -50px; /* same as the footer */
}

.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}
