<div class="row-fluid">
  <div class="span8">
    <h1>Listing tips</h1>
  </div>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to new_list_tip_path(@list) do %>
        <button class="btn">
          <i class="icon-plus"></i>
          <span class="icon">New Tip</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<%= render 'lists/table', :list => @list %>
