<%# flash = { :notice => 'lol' } unless flash %>
<% if notice %>
  <div class="row-fluid">
    <div class="span6 offset3 alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="row-fluid">
    <div class="span6 offset3 alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
  </div>
<% end %>